<h2>Create a new Movie</h2>

<form action="/movies/<%= movieEdit.id%>/edit" method="POST">
    <label for="">Title:
        <input type="text" name="title" value="<%= movieEdit.title %>" >
    </label>
    
    <label for="">Genre:
        <input type="text" name="genre" value="<%= movieEdit.genre %>" >
    </label>

    <label for="">Plot:
        <input type="text" name="plot" value="<%= movieEdit.plot %>" >
    </label>
    <form action="/movies/<%= movieEdit.id%>/edit" method="POST">
            <label for="">Actors:
                <input type="text" name="cast" >
            </label>
            <button type="submit">Add actor</button>
    </form>
        
    

    <button type="submit">Edit</button>

</form>